<app-navbar  ></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-2">
      NGO Name:
    </div>
    <div class="col">
      {{ngo_details?.ngo_name}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Email:
    </div>
    <div class="col">
      {{ngo_details?.email}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Mobile Number:
    </div>
    <div class="col">
      {{ngo_details?.mobile_no}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Year of Establishment:
    </div>
    <div class="col">
      {{ngo_details?.year_establishment}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
     Status:
    </div>
    <div class="col">
      <button type="button" class="btn btn-danger" *ngIf="!ngo_details?.active_acc" (click)="activeAcc()">Inactive</button>
      <button type="button" class="btn btn-danger" *ngIf="ngo_details?.active_acc" (click)="delete()">Delete</button>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
  </div>
</div>
