<app-ngonavigation></app-ngonavigation>

<div class="container-fluid mt-4" >

<!-- <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Sr No.</th>
        <th scope="col">Brand Name</th>
        <th scope="col">Generic Name</th>
        <th scope="col">Medicine Type</th>
        <th scope="col">Expiry Date </th>
        <th scope="col">Quantity</th>
        <th scope="col">Benefited Person</th>
        <th scope="col">Status</th>
        <th scope="col">Assigned Executor</th>
        <th scope="col"></th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let receipt of list; let i = index">
        <th scope="row">{{i+1 }}</th>
        <td>{{receipt?.brand_name}}</td>
        <td>{{receipt?.generic_name}}</td>
        <td>{{type[receipt.medicine_type] }}</td>
        <td>{{receipt?.exp_date | date}}</td>
        <td>{{receipt?.quantity}}</td>
        <td>{{receipt?.assign}}</td>
        <td>{{receipt?.is_collected ? "Collected":"Not Collected"}}</td>
        <td>{{receipt?.assign_executor}}</td>
        <th ><button type="button" class="btn btn-primary" (click)="details(receipt)">Details</button></th>

      </tr>
      
    </tbody>
  </table> -->
  <div class="inner">
    <ag-grid-angular
          #agGrid
         
          class="ag-theme-balham"
          [columnDefs]="columnDefs"
          [rowData]="rowData"
          [defaultColDef]="defaultColDef"
          [rowHeight]="rowHeight"
          [headerHeight]="headerHeight"
          [frameworkComponents]="frameworkComponents"
          [rowDragManaged]="true"
        ></ag-grid-angular>  
    </div>
</div>
