<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/home']">Medicine Donation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"[routerLink]="['/home/addngo']" routerLinkActive="active-link" routerLinkActiveOptions="{exact:true}">Add NGO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home/ngo-request']" routerLinkActive="active-link"  >NGO Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home/ngo']" routerLinkActive="active-link"  >View NGO's Detail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home/donor']" routerLinkActive="active-link"  >View Donator's Detail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home/recepient']" routerLinkActive="active-link"  >View Recepient's Detail</a>
      </li>

    </ul>
    <div class="ml-auto">
      <button type="button" class="btn btn-danger"  (click)="logout()">logout</button>

    </div>
  </div>
</nav>
