ag-grid-angular{
    width: 1400px;
    height: 70vh;
    margin: auto
}
 



@media only screen and (max-width: 1366px) {
    ag-grid-angular{
        width: 100%;
        height: 70vh;
        margin: auto;
    }
  }