.table{
  background-color: white
  }

  ag-grid-angular{
      width: 1650px;
      height: 70vh;
      margin: autoc
  }
   
.inner{
  display: flex;
  align-items: center;
  justify-content: center;
}