
  .table{
    background-color: white
    }
  
    ag-grid-angular{
        width: 1350px;
        height: 80vh;
        
    }
     
  .inner{
    display: flex;
    align-items: center;
    justify-content: center;
  }  