<div class="container-fluid p-0" class="bg-theme1">
<app-navigation></app-navigation>

<div class="container-fluid">
  <div class="row d-flex justify-content-center mt-3"  >
   <h5 class="color">  Request made by : {{registerService?.donator_details?.fullName}}</h5></div>
  <div class="inner">
    <ag-grid-angular
          #agGrid
         
          class="ag-theme-balham"
          [columnDefs]="columnDefs"
          [rowData]="rowData"
          [defaultColDef]="defaultColDef"
          [rowHeight]="rowHeight"
          [headerHeight]="headerHeight"
          [frameworkComponents]="frameworkComponents"
          [rowDragManaged]="true"
        ></ag-grid-angular>  
  
  </div>
  </div>
</div>