.table{
    background-color: white
    }

    ag-grid-angular{
        width: 1419px;
        height: 70vh;
    }
     
.inner{
    display: flex;
    align-items: center;
    justify-content: center;
}