<app-navbar  ></app-navbar>
<div class="container-fluid">
  <div class="row d-flex justify-content-center mt-3"  >
   <h5>Donations made by {{registerService?.donator_details?.fullName}}</h5></div>
<!-- <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Sr No.</th>
      <th scope="col">Brand Name</th>
      <th scope="col">Generic Name</th>
      <th scope="col">Ngo Name</th>
      <th scope="col">Medicine Type</th>
      <th scope="col">Expiry Date </th>
      <th scope="col">Quantity</th>
      <th scope="col">Status</th>
    </tr>
    
  </thead>
  <tbody>
    <ng-container *ngFor="let receipt of list; let i = index">
    <tr *ngIf="!receipt.is_collected ">
      <th scope="row">{{i+1 }}</th>
      <td>{{receipt?.brand_name}}</td>
      <td>{{receipt?.generic_name}}</td>
      <td>{{receipt?.ngo_name}}</td>
      <td>{{type[receipt?.medicine_type]}}</td>

      <td>{{receipt?.exp_date | date}}</td>
      <td>{{receipt?.quantity}}</td>
      <td>{{receipt?.is_collected ? "Collected":"Not Collected"}}</td>
    </tr>
</ng-container>
  </tbody>
</table>
</div> -->
<div class="inner">
  <ag-grid-angular
        #agGrid
       
        class="ag-theme-balham"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        [defaultColDef]="defaultColDef"
        [rowHeight]="rowHeight"
        [headerHeight]="headerHeight"
        [frameworkComponents]="frameworkComponents"
        [rowDragManaged]="true"
      ></ag-grid-angular>  

</div>
</div>
 