<div class="page-wrapager">
    <app-navigation></app-navigation>
  
    
    <div class="container-fluid mt-4" >
  <div class="inner">
    <ag-grid-angular
          #agGrid
         
          class="ag-theme-balham"
          [columnDefs]="columnDefs"
          [rowData]="rowData"
          [defaultColDef]="defaultColDef"
          [rowHeight]="rowHeight"
          [headerHeight]="headerHeight"
          [frameworkComponents]="frameworkComponents"
        
        ></ag-grid-angular>  
    </div>
  </div> 
  </div>
  
