<app-navbar></app-navbar>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NGO Name</th>
      <th scope="col">Email Id</th>
      <th scope="col">Contact No</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let receipt of list; let i = index">
      <th scope="row">{{i+1 }}</th>
      <td>{{receipt?.fullName}}</td>
      <td>{{receipt?.email}}</td>
      <td>{{receipt?.mobile_no}}</td>
      <td>{{receipt?.address}}</td>
    </tr>
  </tbody>
</table>
