<div class="container-fluid p-0" class="bg-theme1">

  <app-navigation></app-navigation>
  
  <div class="container-fluid mt-4" >
  <div class="inner">
    <ag-grid-angular
          #agGrid
         
          class="ag-theme-balham"
          [columnDefs]="columnDefs"
          [rowData]="rowData"
          [defaultColDef]="defaultColDef"
          [rowHeight]="rowHeight"
          [headerHeight]="headerHeight"
          [frameworkComponents]="frameworkComponents"
          [rowDragManaged]="true"
        ></ag-grid-angular>  
    </div>
</div>
</div>