<footer class="site-footer"  >
  <div class="footer-widgets">
  <div class="container">
  <div class="row">
  <div class="col-12 col-md-6 col-lg-3">
  <div class="foot-about">
  <h2><a class="foot-logo"  [routerLink]="['/home']"><img src="../../../assets/icon.PNG" alt=""></a></h2>
  <p>Our vision is to build a society where there shall be no medicine affordless persons and to redistribute unused, unexpired, unopened drugs to them </p>
  <ul class="d-flex flex-wrap align-items-center">
  <li><a href="https://www.instagram.com/meddonation/ "target="_blank">
  <i class="fa fa-instagram"></i>
  </a></li>
  <li><a href="https://www.facebook.com/med.donation/" target="_blank">
  <i class="fa fa-facebook"></i>
  </a></li>
  <li><a href="https://twitter.com/MedicineDonati1" target="_blank">
  <i class="fa fa-twitter"></i>
  </a></li>
  <li><a href="mailto:onlinemeddonation@gmail.com" target="_blank">
    <i class="fa fa-envelope"></i>
  </a></li>
  <li><a href="https://www.youtube.com/channel/UCPUQI1RqbFrKjvbIgDUV_ag?guided_help_flow=5" target="_blank">
    <i class="fa fa-youtube "></i>
  </a></li>

  </ul>
  </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
  <h2>Useful Links</h2>
  <ul>
  <li><a class="nav-link" [routerLink]="['/about-us']">About us</a></li>
  <li><a class="nav-link" [routerLink]="['/events']"target="blank">Events</a></li>
  <li><a class="nav-link" [routerLink]="['/faq']">FAQ</a></li>
  </ul>
  </div>
   
  <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
  <div class="foot-contact">
  <h2>Contact</h2>
  <ul>
  <li><i class="fa fa-phone mr-1"></i><span>+45 677 8993000 223</span></li>
  <li><i class="fa fa-envelope mr-1"></i><span>onlinemeddonation@gmail.com</span></li>
  <li><i class="fa fa-map-marker mr-1"></i><span>Mumbai, Online Unused Medicine Donation</span></li>
  </ul>
  </div>
   
  </div>
  </div>
  </div>
  </div>
  <div class="footer-bar">
  <div class="container">
  <div class="row">
  <div class="col-12">
  <p class="m-0 ml-auto">
  Copyright ©2021 All rights reserved  
  </p>
  </div>
  </div>
  </div>
  </div>
  </footer>