<div class="bg-image"></div>
<div class="nav">
  <app-navigation ></app-navigation>

</div>
<div class="wrapper">
 
  <div class="container-fluid">
    <div class="faq">

    <h2>Frequently Asked Questions</h2>
    <div class="accordion">
      <div class="accordion-item">
        <a>Can I donate only unused medicine?</a>
        <div class="content">
          <p>
            This organization directly accepts medicine from pharmacies,wholesallers,and manufactures.
            If you're an individual with unused medicine to donate, you can donate through any of our NGO or executives.
            Every little bit helps, and we appreciate your support.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <a>I am an individual & I want to donate my unused medicine. How?</a>
        <div class="content">
          <p>
            To donate your unused medicine as an individual you can be a Donator. Follow the procedure and create
            your account and then, you can get started and be a part of the Donation process.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <a>I want to request for some medicine. How?</a>
        <div class="content">
          <p>
            To request medicine you can be a Recepient. Follow the procedure to create account and then, you can get
            started.
            You can request for any medicine to ngo of your choice. You can also request ehich is currently available in
            the specific ngo.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <a>Who are you and what is your platform for?</a>
        <div class="content">
          <p>
            Not taking your medications often leads to worse outcomes with respect to your health. That's why we're
            here.
            Our website, Online Unused Medicine Donation System provides access to medications so that
            everyone gets the care they deserve.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <a>Where can I get medicine brand name and generic name?</a>
        <div class="content text-center">
          <img class="" src="../../../assets/brand.generic_name.jpg" width="500px">
        </div>
      </div>
      <div class="accordion-item">
        <a>Can I donate expired medicine?</a>
        <div class="content">
          <p>
            Our system is built to ensure proper healthcare of peoplw, Expired medicines are harmful to the
            health of any person and donation of the same is strictly prohibited.
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
