
 
  .container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
   
  }
  .bg-image{
    background-image: url('../../../assets/faq6.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center 30%;
    background-repeat:no-repeat;
    height: 100vh;
    filter: blur(1px);
    -webkit-filter: blur(3px);
  }

  h3 {
    font-size: 1.75rem;
    color: #373d51;
    padding: 1.3rem;
    margin: 0;
  }
  .accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #ffffff;
    font-size: 1.15rem;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
  }
  .accordion a:hover,
  .accordion a:hover::after {
    cursor: pointer;
    color:orange;
  }
  .accordion a:hover::after {
    border: 1px solid #ff5353;
  }
  .accordion a.active {
    color: yellow;
    border-bottom: 1px solid #ff5353;
  }
  .accordion a::after {
    font-family: 'Ionicons';
    content: '\f218';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    padding: 5px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1.3px solid #ffffff;
    text-align: center;
  }
  .accordion a.active::after {
    font-family: 'Ionicons';
    content: '\f209';
    color: #ff5353;
    border: 1px solid #ff5353;
  }
  .accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
  }
  .accordion .content p {
    font-size: 1rem;
    font-weight: 300;
  }
  .accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
  }
h2{
  color: rgb(96, 199, 212);;
  text-align: center;
  margin-bottom: 22px;
}
.accordion-item >a{
  font-size: 20px
}
.content >p{
  line-height: 30px;
  color: #ffffff
}

.faq{
  width: 50%;
  padding: 25px;
  /* margin-top: 10%; */
  position: absolute;
  top: 15%;
}
.nav{
  position: absolute;
  top: 0px;
}
app-navigation {
  width: 100vw;
}