<div class="container">
 
  <div class="panel-group" id="accordion">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Can I donate only unused medicine?</a>
              </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                This organization directly accepts medicine from pharmacies,wholesallers,and manufactures.
                If you're an individual with unused medicine to donate, you can donate through any of our NGO or executives.
                Every little bit helps, and we appreciate your support.  
              </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">I am an individual & I want to donate my unused medicine. How?</a>
              </h4>
          </div>
          <div id="collapseTen" class="panel-collapse collapse">
              <div class="panel-body">
                To donate your unused medicine as an individual you can be a Donator. Follow the procedure and create 
                your account and then, you can get started and be a part of the Donation process.
              </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">I want to request for some medicine. How?</a>
              </h4>
          </div>
          <div id="collapseEleven" class="panel-collapse collapse">
              <div class="panel-body">
                To request medicine you can be a Recepient. Follow the procedure to create account and then, you can get started.
                You can request for any medicine to ngo of your choice. You can also request ehich is currently available in the specific ngo.
              </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Who are you and what is your platform for?</a>
              </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
              Not taking your medications often leads to worse outcomes with respect to your health. That's why we're here.
               Our website, Online Unused Medicine Donation System provides access to medications so that
              everyone gets the care they deserve. 
              </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Where can I get medicine brand name and generic name?</a>
              </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <img class="" src="../../../assets/brand.generic_name.jpg">
              </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Can I donate expired medicine?</a>
              </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                  Our system is built to ensure proper healthcare of peoplw, Expired medicines are harmful to the
                  health of any person and donation of the same is strictly prohibited. 
                  <br />
              </div>
          </div>
      </div>
  </div>
</div>
