<app-executor-navigation></app-executor-navigation>
<div class="container">
  <div class="row">
    <div class="col-2">
       Recepient Name:
    </div>
    <div class="col">
      {{donation_details?.recepient_name}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Brand Name:
    </div>
    <div class="col">
      {{donation_details?.brand_name}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Generic Name:
    </div>
    <div class="col">
      {{donation_details?.generic_name}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      quantity:
    </div>
    <div class="col-3">
      {{donation_details?.quantity}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Email:
    </div>
    <div class="col">
      {{donation_details?.recepient_email}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Mobile Number:
    </div>
    <div class="col">
      {{donation_details?.mobile_no}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
         medicine:
    </div>
    <div class="col-3">
      {{donation_details?.generic_name}}
      <!-- <select class="form-control"    [(ngModel)]="selected_medicine"   (change)="setmedicine()">
        <option *ngFor="let medicine of medicinelist" [value]="medicine.donation_id"> {{medicine?.generic_name}}</option>
    </select> -->
    </div>
  </div>
  <div class="row">
    <div class="col-2">
        Deliver:
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-primary " (click)="deliver()" *ngIf="!donation_details?.is_deliver">Yes</button>
      <div  *ngIf="donation_details?.is_deliver">yes</div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-3">
       <div class="ml-auto">
        <button type="button" class="btn btn-primary " (click)="deliver()">Update</button>
       </div>
    </div>

  </div> -->

</div>
