<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/ngo/home']">Medicine Donation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"[routerLink]="['/ngo/Add-executor']">Add Executive</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ngo/medicine-donation']">Donations</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ngo/medicine-request']">Requests</a>
        </li>
        <li class="nav-item dropdown ml-2">
            <div class="form-group">
                <select class="form-control"      [(ngModel)]="role" >
                    <option [value]="3">Sucessfull</option> 
                    <option [value]="3">UnSucessfull</option> 

                </select>
              </div>
          </li>
           
    </ul>
    <div class="ml-auto">
      <button type="button" class="btn btn-danger"  (click)="logout()">logout</button>
      
    </div>
  </div>
</nav>