<div class="container">
  <div class="w-50 box-container">
    <h5 class="text-center">change password</h5>
    <form autocomplete="off" [formGroup]="loginForm">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Enter email" id="email" required
          [ngClass]="{ 'is-invalid': submitted && f?.email?.errors }">
        <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
          <div *ngIf="f?.email?.errors?.required">Email is required</div>
          <div *ngIf="f?.email?.errors?.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Enter password" id="pwd"
          required [ngClass]="{ 'is-invalid': submitted && f?.password?.errors   }">
        <div *ngIf="submitted && f?.password?.errors" class="invalid-feedback">
          <div *ngIf="f?.password?.errors?.required">Password is required</div>
          <div *ngIf="f?.password?.errors?.minlength">Password must be 6 characters</div>

        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Confirm Password:</label>
        <input type="password" class="form-control" formControlName="confirm_password" placeholder="Enter password"
          id="pwd" required
          [ngClass]="{ 'is-invalid': submitted && f?.confirm_password?.errors|| submitted && loginForm?.errors?.notSame  }">
        <div *ngIf="submitted && f?.confirm_password?.errors" class="invalid-feedback">
          <div *ngIf="f?.confirm_password?.errors?.required">Confirm Password is required</div>
        </div>
        <div *ngIf=" !(f?.confirm_password?.errors?.required )&& loginForm?.errors?.notSame" class="invalid-feedback">password must be match</div>
      </div>
      <button type="submit" class="btn btn-primary login" (click)="changepassword()">change password</button>
    </form>
  </div>

</div>