<div>
  <div class="wrapper" class="bg-theme bg-theme1  pace-done">
  <div class="section-authentication-signin d-flex align-items-center justify-content-center  ">
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
          <div class="col mx-auto" style="flex-grow: 0.4;">
            <div class="card mt-5 mt-lg-0">
              <div class="card-body">
                <div class="border p-4 rounded">
                  <div class="text-center">
                    <h3 class="">Change Password</h3>
                    <!-- <p>Don't have an account yet? <a [routerLink]="['/register']">Sign up here</a>
                    </p> -->
                  </div> 
                    <hr>
                   
                  <div class="form-body">
                    <form class="row g-3" [formGroup]="loginForm" autocomplete="off">
                      <div class="col-12">
                        <label for="inputEmailAddress" class="form-label">Email Address</label>
                        <input type="email"  formControlName="email" class="form-control" id="inputEmailAddress" placeholder="Email Address"  [ngClass]="{ 'is-invalid': submitted && f?.email?.errors }">
                        <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
                          <div *ngIf="f?.email?.errors?.required">Email is required</div>
                          <div *ngIf="f?.email?.errors?.email">Email must be a valid email address</div>
                          </div>
                      </div>
                      <div class="col-12">
                        <label for="inputChoosePassword" class="form-label">Enter Password</label>
                        <div class="input-group" id="show_hide_password">
                          <input  [type]="fieldTextType ? 'text' : 'password'"  formControlName="password" class="form-control border-end-0" id="inputChoosePassword"  placeholder="Enter Password" [ngClass]="{ 'is-invalid': submitted && f?.password?.errors }">
                           <a   class="input-group-text"><i  class="fa" [ngClass]="{
                            'fa-eye-slash': !fieldTextType,
                            'fa-eye': fieldTextType
                          }"
                          (click)="toggleFieldTextType()"></i></a>
                          <div *ngIf="submitted && f?.password?.errors" class="invalid-feedback">
                            <div *ngIf="f?.password?.errors?.required">Password is required</div>
                            <div *ngIf="f?.password?.errors?.minlength">Password must be 6 characters</div>
                  
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <label for="inputChoosePassword2" class="form-label">Enter Password</label>
                        <div class="input-group" id="show_hide_password">
                          <input  [type]="fieldTextType2 ? 'text' : 'password'" type="password" formControlName="confirm_password" class="form-control border-end-0" id="inputChoosePassword2"   placeholder="Enter Password" [ngClass]="{ 'is-invalid': submitted && f?.confirm_password?.errors|| submitted && loginForm?.errors?.notSame  }"> 
                          <a   class="input-group-text"><i   class="fa" [ngClass]="{
                            'fa-eye-slash': !fieldTextType2,
                            'fa-eye': fieldTextType2
                          }"
                          (click)="toggleFieldTextType2()"></i></a>
                          <div *ngIf="submitted && f?.confirm_password?.errors" class="invalid-feedback">
                            <div *ngIf="f?.confirm_password?.errors?.required">Confirm Password is required</div>
                          </div>
                          <div *ngIf=" !(f?.confirm_password?.errors?.required )&& loginForm?.errors?.notSame" class="invalid-feedback">Password and Confirm Password should be same</div>
                        </div>
                        </div>
                      
                      <div class="col-md-6">
                        <div class="form-check form-switch">
                          <!-- <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                          <label class="form-check-label" for="flexSwitchCheckChecked">Remember Me</label> -->
                        </div>
                      </div>
                      <!-- <div class="col-md-6 text-end">	<a  [routerLink]="['/forgot-password']"  >Forgot Password ?</a>
                      </div> -->
                      <div class="col-12">
                        <div class="d-grid">
                          <button type="submit" class="btn btn-light"  (click)="changepassword()"> Sign in</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end row-->
      </div>
    </div>
    </div>
    </div>