.container{
  background: white;
  padding: 20px 20px 10px 20px;
  margin-top: 10%;
}
.row{
margin-bottom: 15px;
}
.box-container{
  background: #f4f1fb;
  padding: 20px;  
}

.login{
  padding: 5px 50px
}

.container1{
display: flex;
align-items: center;
justify-content: space-around;
 height: 90vh;
}

.bg-theme1{
  background-image: url('../../../assets/login1.png');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  transition: background .2s;
  height:100vh;
}