<div class="container-fluid p-0 bg-theme1">
<app-navigation></app-navigation>
<div class="wrapper">
<div class="container-fluid container1"  >
    <div class="w-50 box-container">
  <div class="row">
    <div class="col-3">
       Recepient Name:
    </div>
    <div class="col">
      {{donation_details?.recepient_name}}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Brand Name:
    </div>
    <div class="col">
      {{donation_details?.brand_name}}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Generic Name:
    </div>
    <div class="col">
      {{donation_details?.generic_name}}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Request Date:
    </div>
    <div class="col">
      {{donation_details?.request_date | date}}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Quantity:
    </div>
    <div class="col-3">
      {{donation_details?.quantity}}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Email:
    </div>
    <div class="col">
      {{donation_details?.recepient_email}}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Mobile Number:
    </div>
    <div class="col">
      {{donation_details?.mobile_no}}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
       Select Medicine:
    </div>
    <div class="col-3">
      <select class="form-control"    [(ngModel)]="selected_medicine"   (change)="setmedicine()"  [disabled]="disabled" >
          <option disabled>select medicine</option>
        <option *ngFor="let medicine of medicinelist" [value]="medicine.donation_id"> {{medicine?.generic_name}}</option>
    </select>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
       Assign Executor:
    </div>
    <div class="col-3">
      <select class="form-control"    [(ngModel)]="email"    (change)="assignexe($event.target.value)" [disabled]="!selected_medicine">
        <option *ngFor="let executor of list" [value]="executor.email"> {{executor?.fullName}}</option>
    </select>
    </div>
  </div>
  <div class="row" *ngIf="!donation_details.is_deliver &&  !donation_details.excutor_email ">
    <div class="col-3">
       <div class="ml-auto">
        <button type="button" class="btn btn-primary " (click)="assignexecutor()" >Update</button>
       </div>
    </div>

  </div>
    </div>
    <div class="w-25 box-container"  >
    
        <div class="row mb-3">
          <div class="col-6">
            Brand Name:
          </div>
          <div class="col">
            {{selected_medicineshow?.brand_name}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            Generic Name:
          </div>
          <div class="col">
            {{selected_medicineshow?.generic_name}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
           Medicine Type:
          </div>
          <div class="col">
            {{type[selected_medicineshow?.medicine_type]}}
          </div>
        </div>
        <div class="row mb-3" >
          <div class="col-6">
            Quantity:
          </div>
          <div class="col">
            {{selected_medicineshow?.remaining_quantity}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6 ">
            Expiry Date:
          </div>
          <div class="col">
            {{selected_medicineshow?.exp_date | date}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6 ">
            Donator Name:
          </div>
          <div class="col">
            {{selected_medicineshow?.donator_name}}
          </div>
        </div>
     
       
      </div>
</div>
</div>
</div>