<app-navigation></app-navigation>

<div class="container-fluid mt-4"  class="bg-theme1">
<!-- 
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Sr No.</th>
        <th scope="col"> Name</th> 
        <th scope="col">Brand Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Mobile Number</th>

        <th scope="col">Status</th>

        <th scope="col">Address</th>
        <th scope="col"></th>


      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let receipt of list; let i = index" >
      <tr    *ngIf="receipt?.is_deliver">
        <th scope="row">{{i+1 }}</th>
        <td>{{receipt?.recepient_name}}</td>

        <td>{{receipt?.brand_name}}</td>
        <td>{{receipt?.quantity}}</td>
        <td>{{receipt?.mobile_no}}</td>
        <td>Delivered</td>
        <td>{{receipt?.recepient_adress}}</td>
        <th ><button type="button" class="btn btn-primary" (click)="details(receipt)">Details</button></th>

      </tr>
      </ng-container>

    </tbody>
  </table> -->
  <div class="inner">
    <app-executor-assign-request [email]="email" [button]="true"></app-executor-assign-request>
    </div>
  </div>
