/* You can add global styles to this file, and also import other style files */
body{
    // background: url('./assets/bg.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;

      margin: 0;
      background-color: #FCFCFF;

}
.active-link{
  color: blue !important;
}
.ag-row-hover {
  /* putting in !important so it overrides the theme's styling as it hovers the row also */
  background-color: #dfdfff !important;
}

// .ag-column-hover {
//   background-color: #dfffdf;
// }
@import "~ag-grid-community/dist/styles/ag-grid.css";  
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

.ag-row .ag-cell {
  display: flex;
 // justify-content: center; /* align horizontal */
  align-items: center;
}


.ag-cell.ag-cell-not-inline-editing.ag-cell-auto-height.ag-cell-value{
  font-size: 15px !important;
}
 .ag-header-cell-label{
  font-size: 16px !important;
 }

 .navigation-bg{
  background-color:darkgray;
 }

 .active-link{
  color: #ff3102 !important;
  border-bottom: 1px solid;
 }
 .ag-theme-balham .ag-root-wrapper {
  
  border-radius: 12px;
}
.ag-header-row.ag-header-row-column{
  color: #000000
}
app-btn{ 
  margin: auto;
}

 
ul >li {
  padding: 10px;
  list-style: none;
  color: #929191;

}
ul >li >a{
  color: #929191;
}
ul >li >a:hover{
  color: orange;
}
.navbar{
  position: sticky;
  top: 0;
  z-index: 10000;
}