/* You can add global styles to this file, and also import other style files */
body{
    // background: url('./assets/bg.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;

      margin: 0;
      background-color: #FCFCFF;

}
.active-link{
  color: blue !important;
}
@import "~ag-grid-community/dist/styles/ag-grid.css";  
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";