 
  <section>
    <img class="mySlides" src="https://static.toiimg.com/photo/72975551.cms"
    style="width:100%">
    <img class="mySlides" src="https://static.toiimg.com/thumb/msid-24183773,width-1070,height-580,resizemode-75,imgsize-24183773,pt-32,y_pad-40/24183773.jpg"
    style="width:100%">
    <img class="mySlides" src="https://static.toiimg.com/thumb/msid-58475411,width-748,height-499,resizemode=4,imgsize-142947/.jpg"
    style="width:100%">
  </section>
  
  
  <!-- <div class="w3-container">
  <h2>Panels for Quotes</h2>
  <p>The w3-panel class can be used to display quotes.</p> -->
  <div class="container2">
    <p class="mt-2"><i>"The measure of life is not its duration,but its donation"
           Welcome to Donation Communtity
    </i></p>
  
</div>

 
