<app-navigation></app-navigation>
<section >
  
  <img class="mySlides w3-animate-fading" src="../../../assets/bg3.jpg"  >
  <img class="mySlides w3-animate-fading" src="https://cdn.dribbble.com/users/45541/screenshots/4495164/hp-donation.jpg"   >
  <img class="mySlides w3-animate-fading" src="../../../assets/bg2.jpg"  >
  
</section>
<div class="container2 content"  >
  <p class="mt-2">
    <b><i>"The measure of life is not its duration,but its donation"<br />
      Welcome to Donation Communtity</i>
    </b>
  </p>
  <div class="d-flex">
    <img class="medicineicon" src="../../../assets/mednation.jpeg">
    <div class="box">
      <h2>Online Unused Medicine Donation</h2>
      <p class="message">Giving is not just about make a donation, it's about making a difference</p>
    </div>
  </div>
</div>
 

<div class="welcome-wrap" [@flyInOut]="'in'">
  <div class="container">
  <div class="row">
  <div class="col-12 col-lg-6 order-2 order-lg-1">
  <div class="welcome-content">
  
  <div class="entry-content mt-5">
  <p class="para">Our objective is to make a platform to accept donations of unused medicines.
    Redistribute unused, unexpired, unopened drugs to medicine affordless persons.
    Make a healthy and happy nation. Decrease amount of medicine going to waste.
    Avoid cost of drug disposal.</p>
    <p class="text"><strong><i>"Your little effort can give others second chance to live life"</i></strong></p>
  
  </div>
  <div class="entry-footer mt-5">
  <!-- <a href="#" class="btn gradient-bg mr-2">Read More</a> -->
  </div>
  </div>
  </div>
  <div class="col-12 col-lg-6 order-1 order-lg-2">
  <img src="../../../assets/home.jpg  " alt="welcome">
  </div>
  </div>
  </div>
  </div>
  

  



  <div class="our-causes">
    <div class="container">
    <div class="row">
    <div class="coL-12">
    <div class="section-heading">
    <h2 class="entry-title">Our Causes</h2>
    </div>
    </div>
    </div>
    <div class="d-flex " style="gap: 15px;" >
     

      <div class="cause-wrap  w3-animate-top">
        <figure class="m-0">
        <img src="../../../assets/Make a donation.jpg" alt="">
        <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
        </div>
        </figure>
        <div class="cause-content-wrap">
        <header class="entry-header d-flex flex-wrap align-items-center">
        <h3 class="entry-title w-100 m-0"><a>Donate Now!</a></h3>
        </header>
        <div class="entry-content">
        <p class="m-0">God made you healty, but there are plenty of those who need your help, hence Donate Now!</p>
        </div>
        </div>
        </div>
        <div class="cause-wrap  w3-animate-top ">
          <figure class="m-0">
          <img src="../../../assets/shutterstock_538843480.jpg" alt="">
          <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
          </div>
          </figure>
          <div class="cause-content-wrap">
          <header class="entry-header d-flex flex-wrap align-items-center">
          <h3 class="entry-title w-100 m-0"><a>Unused Medicine</a></h3>
          </header>
          <div class="entry-content">
          <p class="m-0">
            You don't have to be a doctor to save lives! You can save lives too by donating your Unused Medicine</p>
          </div>
          </div>
          </div>
          <div class="cause-wrap  w3-animate-top" >
            <figure class="m-0">
            <img src="../../../assets/come-tog.png" alt="">
            <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
            </div>
            </figure>
            <div class="cause-content-wrap">
            <header class="entry-header d-flex flex-wrap align-items-center">
            <h3 class="entry-title w-100 m-0"><a>Come Together</a></h3>
            </header>
            <div class="entry-content">
            <p class="m-0">Together to help the world better. Together we can. We need to be together and we need to work together. </p>
            </div>
            </div>
            </div>
    </div>
    </div>
    </div>

    <div class="home-page-limestone">
      <div class="container">
      <div class="row align-items-end">
      <div class="coL-12 col-lg-6">
      <div class="section-heading">
      <h2 class="entry-title">We love to help all the people that are medicine affordless. After 5 years we have many goals achieved.</h2>
      <p class="mt-5">Our community has successfully donated over 1000 medicine to the poor people. Many needy people got cured. It helped needy people for medication </p>
      </div>
      </div>
      <div class="col-12 col-lg-6">
      <div class="milestones d-flex flex-wrap justify-content-between">
      <div class="col-12 col-sm-4 mt-5 mt-lg-0">
      <div class="counter-box">
      <div class="d-flex justify-content-center align-items-center">
      <img src="https://preview.colorlib.com/theme/thecharity/images/teamwork.png" alt="">
      </div>
      <div class="d-flex justify-content-center align-items-baseline">
      <div class="start-counter" data-to="120" data-speed="2000">{{counts?.help}}</div>
       
      </div>
      <h3 class="entry-title">People helped</h3>
      </div>
      </div>
      <div class="col-12 col-sm-4 mt-5 mt-lg-0">
      <div class="counter-box">
      <div class="d-flex justify-content-center align-items-center">
      <img src="https://preview.colorlib.com/theme/thecharity/images/donation.png" alt="">
      </div>
      <div class="d-flex justify-content-center align-items-baseline">
      <div class="start-counter" data-to="79" data-speed="2000">{{counts?.donation}}</div>
      </div>
      <h3 class="entry-title">Medicine donated</h3>
      </div>
      </div>
      <div class="col-12 col-sm-4 mt-5 mt-lg-0">
      <div class="counter-box">
      <div class="d-flex justify-content-center align-items-center">
      <img src="https://preview.colorlib.com/theme/thecharity/images/dove.png" alt="">
      </div>
      <div class="d-flex justify-content-center align-items-baseline">
      <div class="start-counter" data-to="253" data-speed="2000">{{counts?.executor}}</div>
      </div>
      <h3 class="entry-title">Volunteeres</h3>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>




  



<div>
    <app-footer ></app-footer> 
  </div>