<div class="page-wrapager">
  <app-navigation></app-navigation>
   
  <div class="container-fluid mt-4" >
<!-- <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Sr No.</th>
      <th scope="col">Ngo Name</th>
      <th scope="col">Email Id</th>
      <th scope="col">Contact No</th>
      <th scope="col">Address</th>
      <th scope="col">Year of Establishment</th>
      <th scope="col">Registration Certificate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let receipt of list; let i = index">
      <th scope="row">{{i+1 }}</th>
      <td>{{receipt?.ngo_name}}</td>
      <td>{{receipt?.email}}</td>
      <td>{{receipt?.mobile_no}}</td>
      <td>{{receipt?.address}}</td>
      <td>{{receipt?.year_establishment}}</td>
      <td><button type="button" class="btn btn-primary" (click)="details(receipt)">Details</button></td>
    </tr>

  </tbody>
</table> -->
<div class="inner">
  <ag-grid-angular
        #agGrid
       
        class="ag-theme-balham"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        [defaultColDef]="defaultColDef"
        [rowHeight]="rowHeight"
        [headerHeight]="headerHeight"
        [frameworkComponents]="frameworkComponents"
        [rowDragManaged]="true"
      ></ag-grid-angular>  
</div>
</div>
</div>
