<app-ngonavigation></app-ngonavigation>
<div class="container-fluid mt-4" >
<!-- <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Sr No.</th>
        <th scope="col"> Name</th>

        <th scope="col">Email</th>

        <th scope="col">Mobile Number</th>
        <th scope="col">Address</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let receipt of list; let i = index" >
      <tr *ngIf="!receipt?.is_collected">
        <th scope="row">{{i+1 }}</th>
        <td>{{receipt?.fullName}}</td>

        <td>{{receipt?.email}}</td>
        <td>{{receipt?.mobile_no}}</td>
        <td>{{receipt?.address }}</td>

        <td>
          <div *ngIf="receipt?.active_acc" class="text-success">Active</div>
          <div *ngIf="!receipt?.active_acc" class="text-danger">Inactive</div>

          
        </td>

      </tr>
      </ng-container>

    </tbody>
  </table> -->
  <div class="inner">
    <ag-grid-angular
          #agGrid
         
          class="ag-theme-balham"
          [columnDefs]="columnDefs"
          [rowData]="rowData"
          [defaultColDef]="defaultColDef"
          [rowHeight]="rowHeight"
          [headerHeight]="headerHeight"
          [frameworkComponents]="frameworkComponents"
          [rowDragManaged]="true"
        ></ag-grid-angular>  
    </div>
  </div>
  