 
<div>
    <div  class="wrapper bg-theme bg-theme1  pace-done">
    <app-navigation></app-navigation>

    <div class="section-authentication-signin d-flex align-items-center justify-content-center  ">
        <div class="container-fluid">

          <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
            <div class="col mx-auto loginbox" style="flex-grow: 0.4;">
              <div class="card mt-5 mt-lg-0">
                <div class="card-body">
                  <div class="border p-4 rounded">
                    <div class="text-center">
                      <h3 class="">Registration Form</h3>
                      
                    </div> 
                      <hr>
                     
                    <div class="form-body">
                      <form class="row g-3" [formGroup]="registrationForm" autocomplete="off">
                          
                        <div class="col-12 pb-2">
                          <label for="inputEmailAddress" class="form-label">Role:</label>
                          <select class="form-control"    formControlName="role"  [(ngModel)]="role"   [ngClass]="{ 'is-invalid': submitted && f.role.errors }" (change)="rolechange()">
                            <option [value]="3">Donator</option>
                          <option [value]="4">Recepient</option>
                            <option [value]="2">NGO</option>     
                        </select>
                          <div *ngIf="submitted && f.role?.errors" class="invalid-feedback">
                            <div *ngIf="f?.role?.errors?.required">Role is required</div>
                            </div>
                        </div>
                        <div class="col-12 pb-2"  *ngIf="role != 2">
                          <label for="inputEmailAddress" class="form-label">Full Name:</label>
                          <input type="text" class="form-control"  formControlName="fullName" placeholder="Enter Full Name" id="name"  [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
                          <div *ngIf="submitted && f?.fullName?.errors" class="invalid-feedback"> 
                            <div *ngIf="f?.fullName?.errors?.required">Full Name is required</div>
                            </div>
                        </div>
                        <div class="col-12 pb-2" *ngIf="role == 2">
                          <label for="inputEmailAddress" class="form-label">Name of NGO:</label>
                          <input type="text" class="form-control" placeholder="Enter NGO Name" id="email" required formControlName="ngo_name" required  [ngClass]="{ 'is-invalid': submitted && f.ngo_name.errors }">
                          <div *ngIf="submitted && f.ngo_name?.errors" class="invalid-feedback">
                            <div *ngIf="f?.ngo_name?.errors?.required">NGO Name is required</div>
                            </div>
                        </div>
                        <div class="col-12 pb-2">
                          <label for="inputChoosePassword" class="form-label">Email address:</label>
                          <div class="input-group"  >
                            <input type="email" class="form-control" placeholder="Enter email" id="email" required formControlName="email" required  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"> 
                            <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
                              <div *ngIf="f?.email?.errors?.required">Email is required</div> 
                              <div *ngIf="f?.email?.errors?.email">Email must be a valid email address</div>
                          </div>
                          </div>
                        </div>
                       
                      <div class="col-12 pb-2">
                       <label for="inputEmailAddress" class="form-label">Password:</label>
                       <input type="password" class="form-control" placeholder="Enter password" id="pwd" required formControlName="password" required  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">                              
                          <div *ngIf="submitted && f.password?.errors" class="invalid-feedback">
                          <div *ngIf="f?.password?.errors?.required">Password is required</div>
                         <div *ngIf="f?.password?.errors?.minlength">Password should be atleast 6 characters</div>

                            </div>
                        </div>
                        <div class="col-12 pb-2">
                          <label for="inputEmailAddress" class="form-label">Mobile Number:</label>
                          <input type="text" class="form-control" placeholder="Enter Mobile Number" id="pwd" maxlength="10" required formControlName="mobile_no" required  [ngClass]="{ 'is-invalid': submitted && f.mobile_no.errors }" (keypress)="keyPress($event)">
                          <div *ngIf="submitted && f.mobile_no?.errors" class="invalid-feedback">
                          <div *ngIf="f?.mobile_no?.errors?.required">Mobile Number is required</div>
                            <div *ngIf="f?.mobile_no?.errors?.pattern " >Invalid Phone Number</div>

                               </div>
                           </div>
                           <div class="col-12 pb-2">
                            <label for="inputEmailAddress" class="form-label">Address:</label>
                            <textarea class="form-control" rows="3" id="comment" formControlName="address" required  [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>                              
                               <div *ngIf="submitted && f.address?.errors" class="invalid-feedback">
                                 <div *ngIf="f?.address?.errors?.required">Address is required</div>
                                 <div *ngIf="f?.address?.errors?.minlength">Address must have minimum 15 characters</div>
                                 </div>
                             </div>
                             <div class="col-12 pb-2" *ngIf="role == 2">
                              <label for="inputEmailAddress" class="form-label">Year of establishment:</label>
                              <input type="text" class="form-control" placeholder="Enter year of establishment" id="email" required maxlength="4" formControlName="year_establishment" (keypress)="keyPress($event)" required  [ngClass]="{ 'is-invalid': submitted && f.year_establishment.errors }">

                           <div *ngIf="submitted && f.year_establishment?.errors" class="invalid-feedback">
                            <div *ngIf="f?.year_establishment?.errors?.required">Year of establishment is required</div>
                            <div *ngIf="f?.year_establishment?.errors?.minlength" >Minimum length should be 4 digit</div>
                            <div *ngIf="f?.year_establishment?.errors?.max" >Invalid year</div> 
                              </div>
                             </div>

                             <div class="col-12 pb-2" *ngIf="role == 2">
                              <label for="email">Registration certificate of NGO:</label>
                              <input type="file" class="form-control" placeholder="Enter Full Name" id="email" required>
                           <!-- <div *ngIf="submitted && f.year_establishment?.errors" class="invalid-feedback">
                            <div *ngIf="f?.year_establishment?.errors?.required">Registration certificate is required</div>
                              </div> -->
                             </div>

                        <div class="col-12 pt-2">
                          <div class="d-grid">
                            <button type="submit" class="btn btn-light"  (click)="register()">Register</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      </div>
      </div>

      <app-pop-up  >
      </app-pop-up>
