<div class="container" >
    <div class="w-50 box-container">
      <h5 class="text-center">Registration Form</h5>
  <form  autocomplete="off"  [formGroup]="registrationForm">
      <div class="form-group">
          <label for="sel1">Role:</label>
          <select class="form-control"    formControlName="role"  [(ngModel)]="role"   >
              <option [value]="3">Donator</option>
            <option [value]="4">Recepient</option>
              <option [value]="2">NGO</option>
           
          </select>
        </div>
      <div class="form-group"  *ngIf="role != 2">
          <label for="email">Full Name:</label>
          <input type="text" class="form-control"  formControlName="fullName" placeholder="Enter Full Name" id="email"  >
        </div>
        <div class="form-group" *ngIf="role == 2">
            <label for="email">Name of NGO:</label>
            <input type="text" class="form-control"  formControlName="ngo_name" placeholder="Enter Full Name" id="email"  >
          </div>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control"  formControlName="email" placeholder="Enter email" id="email" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control"  formControlName="password" placeholder="Enter password" id="pwd" required>
    </div>
    <div class="form-group">
        <label for="pwd">Mobile Number:</label>
        <input type="text" class="form-control"   formControlName="mobile_no" placeholder="Enter Mobile Number" id="pwd" maxlength="10" required>
      </div>
      <div class="form-group">
          <label for="comment">Address:</label>
          <textarea class="form-control" rows="3" id="comment"  formControlName="address"></textarea>
        </div>
        <div class="form-group" *ngIf="role == 2">
            <label for="email">Year of establishment:</label>
            <input type="text"  formControlName="year_establishment" class="form-control" placeholder="Enter Full Name" id="email" required maxlength="4">
          </div>
          <div class="form-group" *ngIf="role == 2">
              <label for="email">Registration certificate of NGO:</label>
              <input type="file" class="form-control" placeholder="Enter Full Name" id="email" required>
            </div>
    <button type="submit" class="btn btn-primary login" (click)="register()">Register</button>
     
  </form>
  </div>
  </div>