<app-navigation></app-navigation>
<div>
    <div class="page-header">
        <div class="container">
        <div class="row">
        <div class="col-12">
        <h1 class="about">About Us</h1>
        </div>
         </div>
        </div>
        </div>
  <div class="welcome-wrap" [@flyInOut]="'in'">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 order-2 order-lg-1">
          <div class="welcome-content">
            <header class="entry-header">
              <h3>Why medicine?</h3>
            </header>
            <div class="entry-content mt-5">
              <p>
                Our health is a fundamental part of being human. Without it, we have
                nothing. Reports shows, nearly 2 billion people have no access to basic medicines,
                causing a cascade of preventable misery and suffering.
              </p>
            </div>
            <div class="entry-footer mt-5">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-2">
          <img src="../../../assets/whymed.jpg" alt="welcome">
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="welcome-wrap" [@flyInOut]="'in'">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 order-2 order-lg-1">
            <div class="welcome-content">
              <header class="entry-header">
                <h3>Our Vision</h3>
              </header>
              <div class="entry-content mt-5">
                <p>
                  Our website drives the future of healthcare by connecting people with
                  surplus medications. Our system is built to ensure compliance and provide
                  full liability protection.
                </p>

              </div>
              <div class="entry-footer mt-5">
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 order-1 order-lg-2">
            <img src="../../../assets/our-vision.jpg" alt="welcome">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="welcome-wrap" [@flyInOut]="'in'">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
              <div class="welcome-content">
                <header class="entry-header">
                  <h2 class="entry-title">Join Us</h2>
                </header>
                <div class="entry-content mt-5">
                  <p>
                    You can join us easily with different asoects to become a part of the impact.
                    You can be a Donator, Volunteer, Executive, Pharmacist or any
                    Non Goverment Organistions.
                  </p>

                </div>
                <div class="entry-footer mt-5">
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2">
              <img src="../../../assets/please-join-us.jpg" alt="welcome">
            </div>
          </div>
        </div>
      </div>
      <div>
        <app-footer></app-footer>
      </div>