 
<div class="row1">
  <div class="column">
    <div class="card">
      <h3>Why medicine?
        <span><img class="iconabt" src="../../../assets/Donate-Box_trupurge.png"/></span>
      </h3>

      <p>
        Our health is a fundamental part of being human. Without it, we have 
        nothing. Reports shows, nearly 2 billion people have no access to basic medicines,
        causing a cascade of preventable misery and suffering.
      </p>
     </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Our Vision
        <span><img class="iconabt" src="../../../assets/vision.jpg"/></span>
      </h3>
      <p>
        Our website drives the future of healthcare by connecting people with
        surplus medications. Our system is built to ensure compliance and provide 
        full liability protection.
      </p>
      
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Join Us
        <span><img class="iconabt" src="../../../assets/join us.jpg"/></span>
      </h3>
      <p>
        You can join us easily with different asoects to become a  part of the impact.
        You can be a Donator, Volunteer, Executive, Pharmacist or any 
        Non Goverment Organistions.
      </p>
     
    </div>
  </div>
</div>
<footer >
  <div class="d-flex container">
    <ul class="list">
      <li>
        <a  [routerLink]="['/about-us']"  > About Us </a>
        </li>
      <li> <a  [routerLink]="['/']"  > FAQ</a></li>
    </ul>

    <ul class="list">
      <li>About Us</li>
      <li>FAQ</li>
    </ul>
    <ul class="list">
      <li>About Us</li>
      <li>FAQ</li>
    </ul>
  </div>
</footer>