<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="row">
  <div class="column">
    <div class="card">
      <h3>Why medicine?</h3>
      <p>
        Our health is a fundamental part of being human. Without it, we have 
        nothing. Reports shows, nearly 2 billion people have no access to basic medicines,
        causing a cascade of preventable misery and suffering.
      </p>
     </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Our Vision</h3>
      <p>
        Our website drives the future of healthcare by connecting people with
        surplus medications. Our system is built to ensure compliance and provide 
        full liability protection.
      </p>
      
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Join Us</h3>
      <p>
        You can join us easily with different asoects to become a  part of the impact.
        You can be a Donator, Volunteer, Executive, Pharmacist or any 
        Non Goverment Organistions.
      </p>
     
    </div>
  </div>
  
 
</div>

</body>
</html>
