.box-container{
    margin-top: 5%;
    background-color: lightblue;
    padding: 20px;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-35%); 
}
 
.login{
    padding: 5px 50px
}