<div class="page-wrapager">
  <app-navbar></app-navbar>
    <div class="container" >
        <div class="w-50 box-container">
          <h5 class="text-center">Add NGO</h5>
      <form  autocomplete="off" [formGroup]="registrationForm">
          <div class="form-group" >
              <label for="email">Name of NGO:</label>
              <input type="text" class="form-control" placeholder="Enter Full Name" id="email" required formControlName="ngo_name" >
            </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" placeholder="Enter email" id="email" required formControlName="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" placeholder="Enter password" id="pwd" required formControlName="password">
        </div>
        <div class="form-group">
            <label for="pwd">Contact Number:</label>
            <input type="text" class="form-control" placeholder="Enter Mobile Number" id="pwd" maxlength="10" required formControlName="mobile_no">
          </div>
          <div class="form-group">
              <label for="comment">Address:</label>
              <textarea class="form-control" rows="3" id="comment" formControlName="address"></textarea>
            </div>
            <div class="form-group" >
                <label for="email">Year of establishment:</label>
                <input type="text" class="form-control" placeholder="Enter year of establishment" id="email" required maxlength="4" formControlName="year_establishment" (keypress)="validateForm($event.target.value)">
              </div>
        <button type="submit" class="btn btn-primary login" (click)="register()">Register</button>
      </form>
      </div>
      </div>
      </div>
      

